################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
# Visual Studio cache and temporary files
.vs/
*.user
*.suo

# Build results
bin/
obj/
Debug/
Release/
x64/
x86/
build/
[Bb]uild[Ll]og.*

# NuGet packages
*.nupkg
packages/
*.snupkg

# Visual Studio Code workspace settings
.vscode/

# Rider project files
.idea/

# Resharper files
_ReSharper*/
*.[Rr]e[Ss]harper

# Test results
TestResults/
*.trx
*.coverage
*.coveragexml

# Web publish
.publishxml
PublishProfiles/

# SQL Server files
*.mdf
*.ldf

# IIS Express application config files
*.vspscc
ApplicationInsights.config

# Azure files
*.azurePubxml
*.publishsettings

# Entity Framework files
*.edmx.sql
*.edmx.diagram

# Visual Studio profiler
*.psess
*.vspx

# Other files
*.pdb
*.cache
*.log
*.tlog
*.lastcodeanalysissucceeded

# MacOS files
.DS_Store

# Windows thumbnail cache files
Thumbs.db

# Project-specific ignores for FlouPoint
# (Add any project-specific files or folders you want to ignore here)


/set_github_env_vars.bat
